mebwsclient/src/wsdl/CodeGroupWebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions targetNamespace="http://service.server.meb.bfs.ch/" name="CodeGroupWebService"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://service.server.meb.bfs.ch/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
    <types>
        <xs:schema version="1.0" targetNamespace="http://service.server.meb.bfs.ch/"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema">

            <xs:element name="getActualCodesForGroup" type="tns:getActualCodesForGroup"/>

            <xs:element name="getActualCodesForGroupResponse" type="tns:getActualCodesForGroupResponse"/>

            <xs:element name="getCodesForGroup" type="tns:getCodesForGroup"/>

            <xs:element name="getCodesForGroupResponse" type="tns:getCodesForGroupResponse"/>

            <xs:complexType name="getActualCodesForGroup">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:string" minOccurs="0"/>
                    <xs:element name="arg1" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="getActualCodesForGroupResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:codeGroupListResult" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="codeGroupListResult">
                <xs:complexContent>
                    <xs:extension base="tns:resultBase">
                        <xs:sequence>
                            <xs:element name="codeGroups" type="tns:codeGroup" nillable="true" minOccurs="0"
                                        maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType name="resultBase" abstract="true">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0"/>
                    <xs:element name="state" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="codeGroup">
                <xs:sequence>
                    <xs:element name="canton" type="xs:long" minOccurs="0"/>
                    <xs:element name="code" type="xs:long" minOccurs="0"/>
                    <xs:element name="codeGroupId" type="xs:string" minOccurs="0"/>
                    <xs:element name="codeText" type="xs:string" minOccurs="0"/>
                    <xs:element name="codeTextAbbr" type="xs:string" minOccurs="0"/>
                    <xs:element name="id" type="xs:long" minOccurs="0"/>
                    <xs:element name="language" type="xs:string" minOccurs="0"/>
                    <xs:element name="validFromYear" type="xs:int" minOccurs="0"/>
                    <xs:element name="validToYear" type="xs:int" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="getCodesForGroup">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:string" minOccurs="0"/>
                    <xs:element name="arg1" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="getCodesForGroupResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:codeGroupListResult" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="getCodesForGroup">
        <part name="parameters" element="tns:getCodesForGroup"/>
    </message>
    <message name="getCodesForGroupResponse">
        <part name="parameters" element="tns:getCodesForGroupResponse"/>
    </message>
    <message name="getActualCodesForGroup">
        <part name="parameters" element="tns:getActualCodesForGroup"/>
    </message>
    <message name="getActualCodesForGroupResponse">
        <part name="parameters" element="tns:getActualCodesForGroupResponse"/>
    </message>
    <portType name="CodeGroupWebServicePortType">
        <operation name="getCodesForGroup">
            <input wsam:Action="http://service.server.meb.bfs.ch/CodeGroupWebServicePortType/getCodesForGroupRequest"
                   message="tns:getCodesForGroup"/>
            <output wsam:Action="http://service.server.meb.bfs.ch/CodeGroupWebServicePortType/getCodesForGroupResponse"
                    message="tns:getCodesForGroupResponse"/>
        </operation>
        <operation name="getActualCodesForGroup">
            <input wsam:Action="http://service.server.meb.bfs.ch/CodeGroupWebServicePortType/getActualCodesForGroupRequest"
                   message="tns:getActualCodesForGroup"/>
            <output wsam:Action="http://service.server.meb.bfs.ch/CodeGroupWebServicePortType/getActualCodesForGroupResponse"
                    message="tns:getActualCodesForGroupResponse"/>
        </operation>
    </portType>
    <binding name="CodeGroupWebServicePortTypePortBinding" type="tns:CodeGroupWebServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getCodesForGroup">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getActualCodesForGroup">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CodeGroupWebService">
        <port name="CodeGroupWebServicePortTypePort" binding="tns:CodeGroupWebServicePortTypePortBinding">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </port>
    </service>
</definitions>

