mebwsclient/src/wsdl/MonitoringWebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions targetNamespace="http://service.server.meb.bfs.ch/" name="MonitoringWebService"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://service.server.meb.bfs.ch/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
    <types>
        <xs:schema version="1.0" targetNamespace="http://service.server.meb.bfs.ch/"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema">

            <xs:element name="checkBurService" type="tns:checkBurService"/>

            <xs:element name="checkBurServiceResponse" type="tns:checkBurServiceResponse"/>

            <xs:element name="checkDatabase" type="tns:checkDatabase"/>

            <xs:element name="checkDatabaseResponse" type="tns:checkDatabaseResponse"/>

            <xs:element name="checkIdmService" type="tns:checkIdmService"/>

            <xs:element name="checkIdmServiceResponse" type="tns:checkIdmServiceResponse"/>

            <xs:element name="checkMetastatService" type="tns:checkMetastatService"/>

            <xs:element name="checkMetastatServiceResponse" type="tns:checkMetastatServiceResponse"/>

            <xs:element name="checkSasService" type="tns:checkSasService"/>

            <xs:element name="checkSasServiceResponse" type="tns:checkSasServiceResponse"/>

            <xs:complexType name="checkBurService">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="checkBurServiceResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="checkMetastatService">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="checkMetastatServiceResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="checkSasService">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="checkSasServiceResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="checkDatabase">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="checkDatabaseResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="checkIdmService">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="checkIdmServiceResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="checkDatabase">
        <part name="parameters" element="tns:checkDatabase"/>
    </message>
    <message name="checkDatabaseResponse">
        <part name="parameters" element="tns:checkDatabaseResponse"/>
    </message>
    <message name="checkIdmService">
        <part name="parameters" element="tns:checkIdmService"/>
    </message>
    <message name="checkIdmServiceResponse">
        <part name="parameters" element="tns:checkIdmServiceResponse"/>
    </message>
    <message name="checkBurService">
        <part name="parameters" element="tns:checkBurService"/>
    </message>
    <message name="checkBurServiceResponse">
        <part name="parameters" element="tns:checkBurServiceResponse"/>
    </message>
    <message name="checkSasService">
        <part name="parameters" element="tns:checkSasService"/>
    </message>
    <message name="checkSasServiceResponse">
        <part name="parameters" element="tns:checkSasServiceResponse"/>
    </message>
    <message name="checkMetastatService">
        <part name="parameters" element="tns:checkMetastatService"/>
    </message>
    <message name="checkMetastatServiceResponse">
        <part name="parameters" element="tns:checkMetastatServiceResponse"/>
    </message>
    <portType name="MonitoringWebServicePortType">
        <operation name="checkDatabase">
            <input wsam:Action="http://service.server.meb.bfs.ch/MonitoringWebServicePortType/checkDatabaseRequest"
                   message="tns:checkDatabase"/>
            <output wsam:Action="http://service.server.meb.bfs.ch/MonitoringWebServicePortType/checkDatabaseResponse"
                    message="tns:checkDatabaseResponse"/>
        </operation>
        <operation name="checkIdmService">
            <input wsam:Action="http://service.server.meb.bfs.ch/MonitoringWebServicePortType/checkIdmServiceRequest"
                   message="tns:checkIdmService"/>
            <output wsam:Action="http://service.server.meb.bfs.ch/MonitoringWebServicePortType/checkIdmServiceResponse"
                    message="tns:checkIdmServiceResponse"/>
        </operation>
        <operation name="checkBurService">
            <input wsam:Action="http://service.server.meb.bfs.ch/MonitoringWebServicePortType/checkBurServiceRequest"
                   message="tns:checkBurService"/>
            <output wsam:Action="http://service.server.meb.bfs.ch/MonitoringWebServicePortType/checkBurServiceResponse"
                    message="tns:checkBurServiceResponse"/>
        </operation>
        <operation name="checkSasService">
            <input wsam:Action="http://service.server.meb.bfs.ch/MonitoringWebServicePortType/checkSasServiceRequest"
                   message="tns:checkSasService"/>
            <output wsam:Action="http://service.server.meb.bfs.ch/MonitoringWebServicePortType/checkSasServiceResponse"
                    message="tns:checkSasServiceResponse"/>
        </operation>
        <operation name="checkMetastatService">
            <input wsam:Action="http://service.server.meb.bfs.ch/MonitoringWebServicePortType/checkMetastatServiceRequest"
                   message="tns:checkMetastatService"/>
            <output wsam:Action="http://service.server.meb.bfs.ch/MonitoringWebServicePortType/checkMetastatServiceResponse"
                    message="tns:checkMetastatServiceResponse"/>
        </operation>
    </portType>
    <binding name="MonitoringWebServicePortTypePortBinding" type="tns:MonitoringWebServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="checkDatabase">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="checkIdmService">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="checkBurService">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="checkSasService">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="checkMetastatService">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="MonitoringWebService">
        <port name="MonitoringWebServicePortTypePort" binding="tns:MonitoringWebServicePortTypePortBinding">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </port>
    </service>
</definitions>

