dhtmlx-xml-beans/schemas/xsd/dhtmlxgrid.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" 
		   elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:element name="rows">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="head"/>
				<xs:element ref="row"/>
				<xs:element ref="userdata"/>
				<xs:element ref="message"/>
			</xs:choice>
			<xs:attribute name="total_count" type="xs:int"/>
			<xs:attribute name="pos" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="userdata">
		<xs:complexType mixed="true">
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="row">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="cell"/>
				<xs:element ref="userdata"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="class" type="xs:string"/>
			<xs:attribute name="style" type="xs:string"/>
			<xs:attribute name="locked">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="call">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="selected">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="head">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="beforeInit"/>
				<xs:element ref="afterInit"/>
				<xs:element ref="column"/>
				<xs:element ref="settings"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="beforeInit">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="call"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="afterInit">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="call"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="call">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="param"/>
			</xs:sequence>
			<xs:attribute name="command" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="param">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="column">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="option"/>
			</xs:choice>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="width" type="xs:string"/>
			<xs:attribute name="align">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="left"/>
						<xs:enumeration value="right"/>
						<xs:enumeration value="center"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="sort">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="date"/>
						<xs:enumeration value="str"/>
						<xs:enumeration value="int"/>
						<xs:enumeration value="na"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="source" type="xs:string"/>
			<xs:attribute name="color" type="xs:string"/>
			<xs:attribute name="hidden" type="xs:boolean"/>
			<xs:attribute name="auto" type="xs:boolean"/>
			<xs:attribute name="cache" type="xs:boolean"/>
			<xs:attribute name="title" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="option">
		<xs:complexType mixed="true">
			<xs:attribute name="value" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="settings">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="colwidth"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="colwidth">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="cell">
		<xs:complexType mixed="true">
			<xs:attribute name="title" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="message">
		<xs:complexType mixed="true"/>
	</xs:element>
</xs:schema>
