sdlserver/src/ch/bfs/meb/sdl/server/service/SdlUploadWebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. -->
<definitions targetNamespace="http://service.server.sdl.meb.bfs.ch/" name="SdlUploadWebService"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://service.server.sdl.meb.bfs.ch/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
    <types>
        <xs:schema version="1.0" targetNamespace="http://service.server.sdl.meb.bfs.ch/"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema">

            <xs:element name="uploadDelivery" type="tns:uploadDelivery"/>

            <xs:element name="uploadDeliveryResponse" type="tns:uploadDeliveryResponse"/>

            <xs:element name="uploadWizardDelivery" type="tns:uploadWizardDelivery"/>

            <xs:element name="uploadWizardDeliveryResponse" type="tns:uploadWizardDeliveryResponse"/>

            <xs:complexType name="uploadWizardDelivery">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:string" minOccurs="0"/>
                    <xs:element name="arg1" type="xs:long" minOccurs="0"/>
                    <xs:element name="arg2" xmime:expectedContentTypes="application/octet-stream" type="xs:base64Binary"
                                minOccurs="0" xmlns:xmime="http://www.w3.org/2005/05/xmlmime"/>
                    <xs:element name="arg3" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="uploadWizardDeliveryResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:uploadResult" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="uploadResult">
                <xs:complexContent>
                    <xs:extension base="tns:resultBase">
                        <xs:sequence>
                            <xs:element name="args" type="xs:anyType" nillable="true" minOccurs="0"
                                        maxOccurs="unbounded"/>
                            <xs:element name="unconfiguredSchoolIds" type="xs:string" nillable="true" minOccurs="0"
                                        maxOccurs="unbounded"/>
                            <xs:element name="unconfiguredSchoolTypes" type="xs:string" nillable="true" minOccurs="0"
                                        maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>

            <xs:complexType name="resultBase" abstract="true">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0"/>
                    <xs:element name="state" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="uploadDelivery">
                <xs:sequence>
                    <xs:element name="arg0" xmime:expectedContentTypes="application/octet-stream" type="xs:base64Binary"
                                minOccurs="0" xmlns:xmime="http://www.w3.org/2005/05/xmlmime"/>
                    <xs:element name="arg1" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="uploadDeliveryResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:uploadResult" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="uploadDelivery">
        <part name="parameters" element="tns:uploadDelivery"/>
    </message>
    <message name="uploadDeliveryResponse">
        <part name="parameters" element="tns:uploadDeliveryResponse"/>
    </message>
    <message name="uploadWizardDelivery">
        <part name="parameters" element="tns:uploadWizardDelivery"/>
    </message>
    <message name="uploadWizardDeliveryResponse">
        <part name="parameters" element="tns:uploadWizardDeliveryResponse"/>
    </message>
    <portType name="SdlUploadWebServicePortType">
        <operation name="uploadDelivery">
            <input wsam:Action="http://service.server.sdl.meb.bfs.ch/SdlUploadWebServicePortType/uploadDeliveryRequest"
                   message="tns:uploadDelivery"/>
            <output wsam:Action="http://service.server.sdl.meb.bfs.ch/SdlUploadWebServicePortType/uploadDeliveryResponse"
                    message="tns:uploadDeliveryResponse"/>
        </operation>
        <operation name="uploadWizardDelivery">
            <input wsam:Action="http://service.server.sdl.meb.bfs.ch/SdlUploadWebServicePortType/uploadWizardDeliveryRequest"
                   message="tns:uploadWizardDelivery"/>
            <output wsam:Action="http://service.server.sdl.meb.bfs.ch/SdlUploadWebServicePortType/uploadWizardDeliveryResponse"
                    message="tns:uploadWizardDeliveryResponse"/>
        </operation>
    </portType>
    <binding name="SdlUploadWebServicePortTypePortBinding" type="tns:SdlUploadWebServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="uploadDelivery">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="uploadWizardDelivery">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="SdlUploadWebService">
        <port name="SdlUploadWebServicePortTypePort" binding="tns:SdlUploadWebServicePortTypePortBinding">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </port>
    </service>
</definitions>

